body {
    font-family: Arial, sans-serif;
    background-image: url(bg.jpg); /* Replace with your background image */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 5px;
    text-align: center;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

.regis {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Include padding and border in width */
}

button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* Full width button */
}

button:hover {
    background-color: #0059b9;
}

p {
    margin-top: 10px;
    font-size: 14px;
}

a {
    color: #007bff; /* Change link color */
    text-decoration: none;
}

a:hover {
    text-decoration: underline; /* Underline on hover */
}
